html,
body {
  margin: 0;
  padding: 0;
  font-family: Bebas Neue, Poppins, 'Courier New', Courier, monospace;
  background-color: #fff;
}

h1,
h3 {
  text-align: center;
  color: white;
}

h1 {
  font-style: normal;
  font-weight: 200;
  font-size: 50px;
}

h3 {
  font-family: Poppins, 'Courier New', Courier, monospace;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 36px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
  margin: 1rem auto;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 4rem 1rem;
  align-items: center;
  background: url(ap.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.section-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3rem 0;
  width: 100%;
  align-items: center;
  background: #fff;
}

.label-tag {
  margin: 0;
  margin-bottom: 1rem;
  padding: 0;
  font-family: Poppins, 'Courier New', Courier, monospace;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
}

.input-form {
  border: 1px solid #c7c7c7;
  padding: 1rem;
  margin-bottom: 1rem;
}

.btn-sign {
  background: #5200ff;
  color: #fff;
  margin-top: 2rem;
  padding: 1rem 3rem;
  font-size: 20px;
  border: none;
  text-align: center;
  letter-spacing: 2px;
}

@media only screen and (min-width: 724px) {
  .container {
    flex-direction: row;
  }

  .section-header {
    width: 50%;
  }

  .section-form {
    width: 50%;
  }
}
